[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
sqlmodel = "*"

[dev-packages]
isort = "*"
black = "*"
flake8-pyproject = "*"
autoflake = "*"
files-to-prompt = "*"

[requires]
python_version = "3.12"
